<div class="card card-primary">
    <div class="card-header">
      <h5 class="card-title m-0">Delete</h5>
    </div>
    <div class="card-body">
      <h6 class="card-title"><%=@user.username%></h6>

      <p class="card-text">Do you really want to delete? it will be permanent! If not click <a href="/user/<%=@user.id%>" class="card-link">Back</a></p>
      <form action="/user/<%=@user.id%>" method="post">
      <input type="hidden" name="_method" value="delete">
      <div class="col-lg-2">
      <button type="submit" class="btn btn-block btn-primary">Delete</button>
      </div>
      </form>
    </div>
    </div>
  </div>
